@use '../../scss/' as *;

input {
    position: relative;
                font-size: 16px;
                width: 100%;
                max-width: fit-content;
                height: max-content;
                white-space: pre-wrap;
                word-break: break-word;
}