@use '../../scss/' as *;

.chat-card {
    width: 100%;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .user {
        width: 100%;
    }
    @include tablet {
        
    }
}