@use '../../scss/' as *;

.friends {
    width: 25%;
    // align-self: center;
    justify-self: center;
    @include flex(column, center, flex-start);
    &__header {
        width: 100%;
        padding: 1em;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        
    }
}
.friends-request {
    width: 55%;
    &__header {
        width: 100%;
        padding: 1em;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__list {
        width: 103%;
        height: 89vh;
        padding: 1em;
        @include flex(row, flex-start, flex-start);
        flex-wrap: wrap;
        overflow-y: auto;
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}