@use '../../scss/' as *;

.chats {
    @include flex(row, center, unset);
    width: 90%;
    height: 100%;
    &__menu {
        position: relative;
        width: 20%;
        min-width: 340px;
        height: 100vh;
        overflow: hidden;
        border-right: 1px solid rgba(0, 0, 0, 0.1);

        &__user {
            
            width: 100%;
            background-color: $white;
            padding: 0.5em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .user {
                @include flex(row, center, unset);
                font-weight: 600;
                .user__name {
                    @include mobile {
                        display: none;
                    }
                }
                .user__img {
                    @include mobile {
                        margin-right: 0;
                    }
                }
            }
            @include mobile {
                padding: 0.1em;
                @include flex(row, center, center);
            }
        }
        @include tablet {
            min-width: unset;
        }
        @include mobile {
           width: 18%;
        }
    }
    @include tablet {
        
    }
    @include mobile {
        width: 100%;
        min-width: max-content;
    }
}