@use '../../scss/' as *;
.navbar {
    @include flex(column, center, unset);
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: max-content;
    background-color: $white;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    a {
        padding: 0.5em 2.5em;
        @include tablet {
            padding: 0;
        }
    }
    @include mobile {
        width: 100%;
        height: max-content;
        max-width: unset;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        @include flex(row, flex-end, space-between);
    }
}
.logo {
    padding: 0.5em;
    
    width: 100%;
    img {
            width: 84px;
            height: 84px;
        }
    @include mobile {
        display: none;
    }
}
