
$white: #fff;
$black: #000;
$blue: rgb(55, 151, 240);

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family:'Space Grotesk', sans-serif;
